@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "Helvitica";
    src: url("../../public/fonts/helvica.ttf");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}